<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Details</title>
</head>
<body>
    
<section>
    <div>airline: </div>
    <div><%= flight.airline %></div>
    <div>Departure Location: </div>
    <div><%= flight.airport %></div>
    <div>Destination Location: </div>
    <div><%= flight.destinations.airport%></div>
    <div>Arrival Time: </div>
    <div><%= flight.destinations.arrival %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo%></div>
    <div>Departure Time: </div>
    <div><%= flight.departs%></div>
  </section>
  
</body>
</html>